{% extends "base.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    <a href="/add_task">Create task</a>
    <ul>
        {% for task in tasks%}
            <li>
                <span {% if task.status == True %}style="text-decoration: line-through;"{% end %}>ID: {{ task.id }} - Name: {{ task.name }}</span>
                -
                <a href="/edit_task/{{ task.id }}" style="color: blue; text-decoration: none;"> Edit</a>
                /
                <a href="/delete_task/{{ task.id }}" style="color: red; text-decoration: none;"> Delete</a>
            </li>
        {% end %}
    </ul>
{% end %}